table {
  border-collapse: collapse;
  margin: 40px;
  background-color: rgba(93, 46, 133, 0.4);
  border: 1px solid white;
  padding: 30px;
  border-radius: 6px;
  width: 1270px;
  height: 450px;
  overflow-y: auto;
  font-size: large;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Firsttable {
  height: 400px;
  width: 300px;
}

.Chart {
  border-radius: 8px;
  color: white;
  padding: 30px;
  width: 1270px;
  background-color: rgb(15, 115, 209);
  margin: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ChartStyle {
  height: 600px;
  width: 900px;
}

.Middle {
  color: orange;
}

.Styling {
  width: 850px;
  height: 400px;
}

.BoxOne {
  background: url('https://s3-alpha-sig.figma.com/img/9a20/0693/d179c2104d5b48a96068c78780e4a947?Expires=1696204800&Signature=VRxue9kyYDlbtpahTLw771jqqmpQFd0oUj3L-lXOrWhwDX2hbYhMsIHGduRcO41U1jOHDUFb6vqAK4hzGjIBBJHn30PH-2VmdOf9J2eZyUv52mZMMzDqzeoDsvuMdDe0Tedn2tvlqTtBrWcv9RGTtywavPwQ-rhqOIorDDu-BKDdhqRl~Vgg7vtufRakVUswQ79nG4OnimTc~ihfum6grLfVKqFrJppASQuPpwvK9qf93FrsmaflroGkJVLyx5RjqP5Sapfktv0beFSylq63Xn0wYoZ-cL2sk7gPX11GMuwhimPTEcg1jLcoud6tjy0I5VvPR2HZRSEtmRWrF4blsw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
    65px 0px / 105.893% 122.923% no-repeat;
  background-size: cover;
  background-color: red;
  width: 1113px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: White;

  margin: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.BoxTwo {
  background-color: #3b79f2;
  width: 100vw;
  padding: 20px;
  color: white;
}

.First {
  padding: 25px;
}

.Thala {
  background-color: #3b79f2;
  opacity: 0.8;
  width: 1113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}
.TableData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Body {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button {
  background-color: rgb(44, 160, 199);
  height: 35px;
  width: 150px;
  color: white;
  border-radius: 6px;
  border: 0px Solid;
  font-size: small;
}

th {
  border-bottom: 1px solid black;
  border: 2px solid black;
}

td {
  text-align: center;
  border: 2px solid black;
}
.Finel {
  border-top: 0px solid;
  border-bottom: 0px solid;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LastBox {
  width: 1270px;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  background-image: linear-gradient(
    to right,
    rgba(3, 119, 226, 1),
    rgba(173, 66, 199, 1)
  );
  margin: 40px;
  border-radius: 8px;

  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Lastlogo {
  font-size: xx-large;
}
.MiniFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  width: 400px;
  height: 250px;
  margin: 20px;
}
.MiniLast {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: xx-small;
  height: 160px;
}

@media (max-width: 500px) {
  .BoxOne {
    width: 350px;
    height: 200px;
    font-size: 8px;
    padding: 0px;
  }
  .Thala {
    background-color: #3b79f2;
    opacity: 0.8;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
  }
  .Button {
    height: 30px;
    width: 150px;
  }

  .table {
    padding: 10px;
    margin: 20px;
    width: 330px;

    font-size: small;
  }
  .LastBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, blue, violet);
    margin: 20px;
    border-radius: 8px;
    width: 330px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .Lastlogo {
    font-size: xx-large;
  }
  .MiniFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6px;
    width: 200px;
    height: 150px;
  }
  .MiniLast {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: xx-small;
    height: 120px;
    width: 140px;
  }
  .Trends {
    width: 400px;
    height: 200px;
  }

  .Chart {
    width: 330px;
  }

  .First {
    padding: 0px;
    margin: 0px;
  }
  .BoxTwo {
    padding: 15px;
  }
  .Styling {
    width: 450px;
    height: 200px;
  }
  .Chart {
    height: 400px;
    margin: 20px;
  }
  .Body {
    height: 1800px;
    overflow: auto;
  }
}
