.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;

  padding-left: 20px;
  padding-right: 20px;
}
.LeftHeader {
  margin: 10px;
  margin-top: 20px;
}

.HeaderText {
  height: 20px;
  border-radius: 50px;
  margin: 5px;
  width: 20px;
}

.button {
  height: 30px;
  margin-top: 20px;
  border: 0px solid;
  background-image: linear-gradient(to right, #0377e2, #ad42c7);

  border-radius: 6px;
  color: white;
}

.Logo {
  height: 50px;
  margin-top: 10px;
}

.King {
  display: flex;
  flex-direction: row;
}

.Sidd {
  margin-top: 5px;
}

@media (max-width: 920px) {
  .Header {
    font-size: 4px;
    padding: 8px;
    width: 100vw;
    margin: 8px;
  }
  .Logo {
    height: 20px;
    margin-top: 10px;
  }

  .FirstRow {
    font-size: 10px;
  }
}
